{% extends "base.html" %}
{% block content %}

<div class="card">
  <h1>DMW Validator</h1>
  <form action="/upload" method="post" enctype="multipart/form-data">

    <label>DMW Excel</label>
    <input type="file" name="dmw_xlsx" required>

    <label>DDL SQL</label>
    <input type="file" name="ddl_sql" required>

    <label>Previous DMW (optional)</label>
    <input type="file" name="prev_dmw">

    <label>Previous DDL (optional)</label>
    <input type="file" name="prev_ddl">

    <label>Reference DMW (Rule 5)</label>
    <input type="file" name="ref_dmw">

    <label>Master DMW (Rule 5)</label>
    <input type="file" name="master_dmw">

    <button type="submit">Run Validation</button>
  </form>
</div>

{% endblock %}
