services:
  dmw-validator:
    build: .
    container_name: dmw-validator
    ports:
      - "8085:8085"
    volumes:
      - ./uploads:/app/uploads
      - ./outputs:/app/outputs
      - ./logs:/app/logs
    restart: unless-stopped
